* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #1a252f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
a {
  color: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
p {
  color: #b3b3b3;
  font-weight: 300;
}
a,
a:hover {
  text-decoration: none !important;
}
/* Utilities */
.plus {
  color: #08fa08;
}
.bg-plus {
  background-color: #08fa08;
}
.minus {
  color: #fa0808;
}
.bg-minus {
  background-color: #fa0808;
}
.select-btn {
  border-radius: 15px;
}
.select-btn .fa-calendar-alt {
  font-size: 18px;
}
.bg-active {
  background-color: #1da1f2;
}
.text-active {
  color: #1da1f2;
}
.fa-facebook,
.fa-facebook-messenger {
  color: #4267b2;
}
.fa-instagram-square {
  color: #8a3ab9;
  font-size: 48px;
}
.fa-twitter-square {
  color: #1da1f2;
}
i.noti {
  font-size: 22px;
  margin-top: 5px;
}
.breadcrumb {
  background-color: #3f3f3f;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #eee;
  font-weight: bold;
}
.breadcrumb-item a {
  font-weight: bold;
  letter-spacing: 1px;
  color: #1da1f2 !important;
}
.breadcrumb-item.active a {
  color: #fff !important;
}
.swip-nav a {
  background-color: #3f3f3f;
  font-size: 16px;
}
.swip-nav a.active {
  background-color: #1da1f2;
}
.swip-nav a i {
  display: none;
  transition: display 0.3s ease-in;
}
.swip-nav a.active i {
  display: inline;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Category icons style Start */
.cat-icon.salary{
  background-color: #e33010;
}
.cat-icon.part-time{
  background-color: #e7ab3c;
}
.cat-icon.dividends{
  background-color: #0dd427;
}
.cat-icon.pocket{
  background-color: #3ce7e7;
}
.cat-icon.sale{
  background-color: #e43a36;
}
.cat-icon.salry{
  background-color: #e33010;
}
.cat-icon.food {
  background-color: #e7ab3c;
}
.cat-icon.home{
  background-color: #0068b2;
}
.cat-icon.drink {
  background-color: #b7a8a3;
}
.cat-icon.clothing {
  background-color: #085719;
}
.cat-icon.shopping {
  background-color: #b63333;
}
.cat-icon.travel {
  background-color: #0fe73e;
}
.cat-icon.transportation {
  background-color: #d2f50a;
}
.cat-icon.education {
  background-color: #e7ab3c;
}
.cat-icon.bill {
  background-color: #85bb65;
}
.cat-icon.tax {
  background-color: #4e575c;
}
.add-categories-section .fa-file-invoice-dollar {
  color: #e41809;
  background-color: white;
  font-size: 32px;
}
.cat-icon.health {
  background-color: #e41809;
}
.cat-icon.beauty{
  background-color: #866b8d;
}
.cat-label.salary{
  color: #e33010;
}
.cat-label.part-time{
  color: #e7ab3c;
}
.cat-label.dividends{
  color: #0dd427;
}
.cat-label.pocket{
  color: #e7ab3c;
}
.cat-label.home{
  color: #0068b2;
}
.cat-label.food{
  color: #e7ab3c;
}
.cat-label.drink{
  color: #b7a8a3;
}
.cat-label.transportation{
  color: #d2f50a;
}
.cat-label.bill{
  color: #85bb65;
}
.cat-label.beauty{
  color: #866b8d;
}
.cat-label.health{
  color: #e41809;
}
.cat-label.shopping{
  color: #b63333;
}
.income-categories-container,
.expenses-categories-container {
  display: none;
}
.income-categories-container.show,
.expenses-categories-container.show {
  display: block;
}
/* Category icons style Start */

/* Add Income, Expense Item Button Style Start*/
.add-button {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: #1da1f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.add-button i {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .add-button {
    width: 50px;
    height: 50px;
  }
  .add-button i {
    font-size: 28px;
  }
}
/* Add Income, Expense Item Button Style End*/

/* Form Element Style Start*/
input[type="text"],
input[type="password"] {
  letter-spacing: 2px;
}
label {
  color: #fff;
}
textarea {
  color: #fff;
  background-color: #1a252f;
  border: 1px solid #1da1f2;
  padding: 3px 5px;
}
select.form-select {
  width: unset;
  background-color: #1a252f;
}
input.form-control {
  background-color: #1a252f !important;
  color: #fff !important;
}
input.form-control::placeholder,
form small {
  color: #ababab;
}
.input-field-symbol {
  top: 28%;
  right: 15px;
  color: #fff;
  font-size: 20px;
}
/* Form Element Style End*/

footer {
  background-color: #161b20;
}
@media screen and (max-width: 992px) {
  footer.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
/* Overlay */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  display: none;
}

/* Modal Customise Style Start */
.modal.show .modal-dialog {
  top: 35%;
  transform: translateY(-50%);
}
.modal.show .modal-dialog .modal-content {
  background-color: #1a252f;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.modal.show .modal-dialog .modal-title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}
.modal.show#share .modal-dialog .modal-body,
.modal.show#choose .modal-dialog .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.modal.show .modal-dialog .modal-body a,
.modal.show#choose .modal-dialog .modal-body a {
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.modal.show#share .modal-dialog .modal-body a {
  flex: 1;
}
.modal.show#choose .modal-dialog .modal-body a {
  flex-basis: 40%;
}
.modal.show#choose .modal-dialog .modal-body a i.income, .income-title-icon {
  color: #08fa08;
}
.modal.show#choose .modal-dialog .modal-body a i.expense, .expense-title-icon {
  color: #fa0808;
}
.modal.show .modal-dialog .modal-body a:hover {
  background-color: #333;
}
.modal.show .modal-dialog .modal-body a i {
  font-size: 48px;
  margin-bottom: 5px;
}
.modal.show .modal-dialog .modal-body a p {
  color: #fff;
}
.modal.show#rate .modal-dialog .modal-footer {
  border-top: 0;
}
.modal.show#rate .rating i.fa {
  color: #1da1f2;
}
/* Modal Customise Style End */

/* Sidebar Style Start */
/* aside {
  overflow: hidden;
  height: 100vh;
  min-height: 580px;
} */

/* sidebar */
.sidebar,
.main-sidebar {
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #1a252f;
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1),
    1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}
.sidebar {
  position: fixed;
  width: 300px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.main-sidebar {
  /* position: absolute;
    top: 70px;
    width: 100%; */
  border-right: 1px solid #3f3f3f;
}
.sidebar.show {
  -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
}
.sidebar.show .close-sidebar-btn {
  position: absolute;
  top: 15px;
  right: 0;
}
.sidebar.show .close-sidebar-btn i {
  font-size: 30px;
  color: #1da1f2;
}
.sidebar.show {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
aside .side-inner {
  padding: 30px 0;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
aside .side-inner .profile {
  margin-bottom: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
}
aside .side-inner .profile .name,
aside .side-inner .profile .email {
  color: white;
  font-size: 18px;
}
aside .side-inner .profile img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
}

aside .side-inner .nav-menu ul,
aside .side-inner .nav-menu ul li {
  padding: 0;
  margin: 0px;
  list-style: none;
}
aside .side-inner .nav-menu ul li a {
  font-size: 18px;
  display: block;
  padding: 10px 30px;
  color: #8b8b8b;
  position: relative;
  -webkit-transition: 0.3s padding-left ease;
  -o-transition: 0.3s padding-left ease;
  transition: 0.3s padding-left ease;
}
aside .side-inner .nav-menu ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  background-color: #1da1f2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s width ease;
  -o-transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s width ease;
  transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s width ease;
}
aside .side-inner .nav-menu ul li a:active,
aside .side-inner .nav-menu ul li a:focus,
aside .side-inner .nav-menu ul li a:hover {
  outline: none;
}
aside .side-inner .nav-menu ul li a:hover {
  background: #333;
  color: #eee;
}
aside .side-inner .nav-menu ul li a:hover:before {
  width: 4px;
  opacity: 1;
  visibility: visible;
}
aside .side-inner .nav-menu ul li.active a {
  background: #333;
  color: #eee;
}
aside .side-inner .nav-menu ul li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 4px;
}
/* Sidebar Style Start */

/* header style Start */
header {
  border-bottom: 1px solid #3f3f3f;
}
.main-nav {
  justify-content: space-between;
  align-items: center;
}
.main-nav ul li .badge {
  top: -10px;
}
@media screen and (max-width: 992px) {
  .main-nav {
    height: 60px;
  }
}
/* header style End */

/* Home Page Style Start */
.total-balance {
  font-size: 28px;
}
.total-income-value,
.total-expense-value {
  font-size: 22px;
}
.daily-stat-section .row {
  justify-content: center;
}
/* @media screen and (min-width: 768px) {
    .daily-stat-section .row{
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: 992px) {
    .daily-stat-section .row{
      justify-content: stretch;
    }
  }
  @media screen and (min-width: 1200px) {
    .daily-stat-section .row{
      justify-content: flex-start;
    }
  } */
.card.daily-stat-card {
  color: #eee;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #3f3f3f;
}
.card.daily-stat-card .card-header,
.card.daily-stat-card .card-footer {
  background-color: #333;
  font-size: 14px;
}
.card.daily-stat-card .card-body {
  background-color: #1a252f;
}
.card.daily-stat-card .card-body ul li {
  border-bottom: 1px solid #3f3f3f;
  transition: background-color 0.3s ease;
}
.card.daily-stat-card .card-body ul li:hover {
  background-color: #3f3f3f;
}
.card.daily-stat-card .card-body ul li:last-of-type {
  border-bottom: 0;
}
.daily-stat-card ul li i.fa-times-circle {
  width: 35px;
  height: 35px;
}
/* Home Page Style End */

/* Categories Page Style Start */
.categories-section ul li {
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #3f3f3f;
  transition: background-color 0.3s ease;
}
.categories-section ul li:last-of-type {
  border: 0;
}
.categories-section ul li:hover {
  background-color: #3f3f3f;
}
.categories-section ul li i:first-of-type,
.categories-section ul li i:last-of-type,
.daily-stat-card ul li i {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.categories-section ul li i:first-of-type::before,
.categories-section ul li i:last-of-type::before,
.daily-stat-card ul li i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categories-section .income-categories-container,
.categories-section .expense-categories-container {
  display: none;
}
.categories-section .income-categories-container.show,
.categories-section .expense-categories-container.show {
  display: block;
}
@media screen and (min-width: 992px) {
  .categories-section .income-categories-container,
  .categories-section .expense-categories-container {
    display: block;
  }
}
/* Categories Page Style End */

/* Login, Register Sections Style Start*/
.login-section,
.register-section {
  padding: 10vh 0;
}
.login-section p,
.register-section p {
  font-size: 20px;
  letter-spacing: 1px;
}
/* Login, Register Sections Style End*/

/* Statistics Page Style Start */
.income-expense-yearly-section {
  padding: 20px 5px;
}
.income-expense-yearly-section table {
  border: #333;
}
.income-expense-yearly-section table tfoot {
  background-color: #3f3f3f;
  border: #333;
}
.income-expense-pie-container {
  width: 300px;
  height: 375px;
}
.income-expense-category-graph-section {
  padding: 30px 10px;
}
.total-income-expenses-graph-container .total-income-amount {
  width: 75%;
  background-color: #1a252f;
  border: 3px solid #333;
}
.total-income-expenses-graph-container
  .total-income-amount
  .total-expense-amount {
  width: 71.54%;
}
.income-category-pie-nav,
.expense-category-pie-nav {
  background-color: #3f3f3f;
}
.income-category-pie-nav.active,
.expense-category-pie-nav.active {
  background-color: #1da1f2;
}
.income-category-pie-nav i,
.expense-category-pie-nav i {
  display: none;
  transition: display 0.3s ease-in;
}
.income-category-pie-nav.active i,
.expense-category-pie-nav.active i {
  display: inline;
}
.income-category-pie-container,
.expense-category-pie-container {
  display: none;
}
.income-category-pie-container.show,
.expense-category-pie-container.show {
  display: block;
}

.income-category-pie-container ul,
.expense-category-pie-container ul {
  width: 75%;
}
@media screen and (min-width: 576px) {
  .income-expense-yearly-section {
    padding: 20px 15px;
  }
}
@media screen and (min-width: 768px) {
  .income-category-pie-container,
  .expense-category-pie-container {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .income-category-pie-container ul,
  .expense-category-pie-container ul {
    width: 60%;
  }
}
/* Statistics Page Style End */

/* Profile Section Style Start */
/* Profile Section Style End */